@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Hi FlexisourceIT :)</h1>
        <p>Below are list of filenames sorted according to client’s preferred order.</p>

        <div class="container">
            <div id="clientList" class="row">
                <div class="col">
                    <strong>Client A</strong> <span class="clientId"></span>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="text-secondary">Before</th>
                                <th class="text-center bg-primary text-white">
                                    In Order<br>
                                    <small>(shovel, waghor, blaze, discus)</small>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">
                                    <ul class="unordered text-secondary text-left">
                                    </ul>
                                </td>
                                <td style="background-color: #F0F8FF" scope="row">
                                    <ol class="customOrdered text-left">
                                    </ol>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col">
                    <strong>Client B</strong> <span class="clientId"></span>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="text-secondary">Before</th>
                                <th class="text-center bg-primary text-white">
                                    In Order<br>
                                    <small>(orca, widget, eclair, talon)</small>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">
                                    <ul class="unordered text-secondary text-left">
                                    </ul>
                                </td>
                                <td style="background-color: #F0F8FF" scope="row">
                                    <ol class="customOrdered text-left">
                                    </ol>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
